:root {
  --purple: #322153;
  --bg-body-color: #f0f0f5;
  --bg-form-color: #ffffff;
}

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background: var(--bg-body-color);
  font-family: "Ubuntu", sans-serif;
  color: #322153;
  max-width: 90vw;
  margin: 0 auto;
  font-size: 16px;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

header h1.title {
  font-size: 3.5rem;
  text-align: center;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb;
  color: var(--purple);
}

header img.logo {
  width: 9%;
  height: auto;
}
.switch-language {
  float: right;
  text-align: right;
}
.lang-btn {
  float: right;
  padding: 8px;
  font-family: "Ubuntu", sans-serif;
  color: #322153;
  max-width: 90vw;
  margin: 0 auto;
  font-size: 16px;
}
.container {
  max-width: 70vw;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
}

form.form {
  background: var(--bg-form-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 10px 0px rgba(44, 44, 44, 0.15);
  border-radius: 10px;
  margin: auto;
  padding: 1rem 4rem;
}

form.form fieldset {
  border: none;
  width: 90%;
}

form.form .field-group {
  padding-top: 1rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form.form .field-group:first-child {
  padding-top: 0.8rem;
}

form.form .field-group label[for="genero"] {
  margin-right: 0.8rem;
}

.field-group label {
  font-size: 1.1rem;
}

.field-group select {
  border: none;
  padding: 10px 5px;
  appearance: none;
  background-color: #f0f0f0;
  border-radius: 10px;
  font-family: monospace;
  color: var(--purple);
}

.field-group input {
  color: var(--purple);
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px 5px;
  border: none;
}

form.form .field-btn {
  padding-top: 2rem;
  align-content: center;
}

.button {
  display: block;
  border: none;
  padding: 14.5px 29px;
  border-radius: 10px;
  color: #fff;
  font-size: 1.3rem;
  text-decoration: none;
  background-color: #34cb79;
  margin: 0.4rem auto;
  transition: 0.3s all;
}
.button:hover {
  background-color: var(--purple);
}

/* Resultado estilos */
.resultado-container {
  background-color: var(--bg-form-color);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0px rgba(44, 44, 44, 0.15);
  width: 520px;
  max-width: 520px;
  margin: 0 auto;
}

.resultado-container div.result-list {
  margin-bottom: 0.6rem;
}

.resultado-container h2 {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
  width: 100%;
}

.resultado-container h3 {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.resultado-container h3:last-child {
  color: #000;
}

.resultado-container ul li {
  margin-bottom: 0.1rem;
}

.resultado-container ul li::before {
  content: "\2192";
  color: #34cb79;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.resultado-container p::before {
  content: "\2192";
  color: #34cb79;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

/* Responsividade */
@media (max-width: 800px) {
  header {
    display: flex;
    justify-content: space-around;
  }
  header h1.title {
    font-size: 2rem;
  }
  header img.logo {
    width: 7%;
  }

  .container {
    max-width: 80vw;
    flex-direction: column;
  }

  form.form {
    margin-bottom: 3rem;
  }
}

@media (max-width: 415px) {
  header h1.title {
    font-size: 1.2rem;
  }

  .container {
    max-width: 90vw;
  }

  .resultado-container {
    width: 320px;
    max-width: 320px;
    word-wrap: break-word;
  }
}
